{% extends "tracker/base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h5>Confirm Delete</h5>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}