{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Goal{% endblock %}

{% block content %}
<div class="main-content">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="mb-0">Update Goal</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'goals' %}" class="btn btn-outline-light">Cancel</a>
                            <button type="submit" class="btn btn-primary">Update Goal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}